<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div>
            <img  class="logo-img" src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678630515/dreamstime_m_136365877_hlbmtn.jpg" width="130" height="130" alt="Logo" ALIGN=CENTER>
             <h2 class="chib">CHIBI CREW</h2>
        </div>
         <ul>
            <li><a href="./Home.html">Home</a></li>
             <li><a href="./Project.html">Project</a></li>
            <li><a href="./about.html">About</a></li>
        </ul>
    </header>
    <main class="about">
    <h1>Team Members</h1> 
    
    <div class="cpics">
         <div class="pic-back">
            <img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678798888/praveen_xkhj1m.jpg" alt="Praveen" height="260px" width="250px">
            <p><b>Name: </b>E.E.S.Praveen</p>
            <p><b>email:</b> eswarpraveen.eluri@gmail.com</p>
        </div>
        <div class="pic-back">
            <img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678798888/sowmya_zzg33z.jpg" alt="Sowmya" height="260px" width="250px">
            <p><b>Name: </b> M.V.N.S.Sowmya</p>
            <p><b>email:</b> satyasowmya109@gmail.com</p>
        </div>
        <div class="pic-back">
            <img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678798889/Divya_dpoljh.jpg" alt="Divya"height="260px" width="250px">
            <p><b>Name: </b> K.Sree Divya</p>
            <p><b>email:</b> sreedivyak07@gmail.com</p>
              </div>
         <div class="pic-back">
            <img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678798889/Nikhil_djiebh.jpg" alt="Nikhil"height="260px" width="250px">
            <p><b>Name: </b> G.Sai Nikhil</p>
            <p><b>email:</b> sainikhilgogineni@gmail.com</p>
        </div>
    </div>
</main>
    <footer class="footer">
        <div>
            <small>@Copyright CHIBICREW</small>
        </div>
    </footer>
</body>
</html>