<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link href="{{ url_for('static',filename='style2.css')}}" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div>
            <img  class="logo-img" src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678630515/dreamstime_m_136365877_hlbmtn.jpg" width="130" height="130" alt="Logo" ALIGN=CENTER>
             <h2 class="chib">CHIBI CREW</h2>
        </div>
         <ul>
            <li><a href="./Home.html">Home</a></li>
             <li><a href="./Project.html">Project</a></li>
            <li><a href="./about.html">About</a></li>
        </ul>
    </header>
    <main>
        <div class="class1">
            <div class="sub1">
                <div class="sub-child1">
                    <h3>Heat Waves</h3>
                </div>
                <div class="sub-child2">
                    <p>With the increase in global temperatures due to climate change, heatwaves have become more frequent and intense in many parts of the world leading to adverse health effects, such as heatstroke, dehydration, and respiratory problems. Predicting the occurrence of Heat waves can make a significant contribution to protecting public health and mitigating the effects of climate change and help the emergency services and public health officials prepare for and respond to potential health emergencies caused by extreme heat. It can also prevent infrastructure damage by identifying areas that are at risk of damage due to high temperatures, such as roads, bridges. Furthermore, it can improve energy efficiency by predicting when demand for electricity is likely to be highest and supporting disaster response efforts by identifying areas that are most at risk of heat-related emergencies.</p>
                </div>
            </div>
            <div class="sub2">
                <div class="sub-child1">
                    <h3>AQI</h3>
                </div>
                <div class="sub-child2">
                    <P>With the increasing concern about air pollution and its impact on public health, there is a growing need for accurate and reliable information on air quality. AQI is a measure used to report the air quality in a specific area, and predicting it in the future could help people plan their activities, take precautions, and protect themselves from the adverse effects of air pollution. Predicting AQI can also help government agencies and public health officials make informed decisions about air quality regulations and policies. For example, they can issue alerts and warnings to the public, adjust traffic patterns to reduce emissions, and allocate resources to areas with higher levels of pollution.It can also promote environmental sustainability by raising awareness about the sources of air pollution and encouraging policy makers and businesses to take steps to reduce 
                        emissions and promote cleaner technologies.</P>
                </div>
            </div>
        </div>
        <div class="class2">
            <div class="map">
                <a href="https://goo.gl/maps/w7LUYTUiLCFQJwot6" target="_blank"><img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678810826/adila1_srnbbf.jpg" alt="Adilabad Map" ></a>
            </div>
            <div class="map">
                <a href="https://goo.gl/maps/6E4pSzUmRtyZXDJ56" target="_blank"><img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678810826/karim1_qv68ff.jpg" alt="Karimnagar Map" ></a>
            </div>
            <div class="map">
                <a href="https://goo.gl/maps/WEBLyKajJaZGHSR1A" target="_blank"><img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678810827/kham1_vdr6op.jpg" alt="Khammam Map"></a>
            </div>
            <div class="map">
                <a href="https://goo.gl/maps/LAThvRDcw5C2y2dK8" target="_blank"><img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678810827/Nizama1_wtjjwv.png" alt="Nizamabad Map"></a>
            </div>
            <div class="map">
                <a href="https://goo.gl/maps/Lh9d4bJsqLhkDeLn9" target="_blank"><img src="https://res.cloudinary.com/dcfzq326i/image/upload/v1678810827/waran1_evikmv.jpg" alt="Warangal Map"></a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div>
            <small>@Copyright CHIBICREW</small>
        </div>
    </footer>
</body>
</html>